In [1]:
# importing libaries

import numpy as np
import pandas as pd

In [4]:
# load data

df=pd.read_csv('Customer_Data.csv')

In [5]:
df.head()

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,35,No,Delhi,7,27,NaN,Yes,No,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,58353-MAH,Female,45,Yes,Maharashtra,14,13,NaN,Yes,Yes,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,25063-WES,Male,51,No,West Bengal,4,35,Deal 5,Yes,No,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,79,No,Karnataka,3,21,Deal 4,Yes,No,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,80,No,Tamil Nadu,3,8,NaN,Yes,No,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [6]:
df.shape

(6418, 32)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  6418 non-null   object
 1   Gender                       6418 non-null   object
 2   Age                          6418 non-null   int64
 3   Married                      6418 non-null   object
 4   State                        6418 non-null   object
 5   Number_of_Referrals          6418 non-null   int64
 6   Tenure_in_Months             6418 non-null   int64
 7   Value_Deal                   2870 non-null   object
 8   Phone_Service                6418 non-null   object
 9   Multiple_Lines               5796 non-null   object
 10  Internet_Service             6418 non-null   object
 11  Internet_Type                5028 non-null   object
 12  Online_Security              5028 non-null   object
 13  Online_Backup                5028 non-null   object
 14  Device_Protection_Plan       5028 non-null   object
 15  Premium_Support              5028 non-null   object
 16  Streaming_TV                 5028 non-null   object
 17  Streaming_Movies             5028 non-null   object
 18  Streaming_Music              5028 non-null   object
 19  Unlimited_Data               5028 non-null   object
 20  Contract                     6418 non-null   object
 21  Paperless_Billing            6418 non-null   object
 22  Payment_Method               6418 non-null   object
 23  Monthly_Charge               6418 non-null   float64
 24  Total_Charges                6418 non-null   float64
 25  Total_Refunds                6418 non-null   float64
 26  Total_Extra_Data_Charges     6418 non-null   int64
 27  Total_Long_Distance_Charges  6418 non-null   float64
 28  Total_Revenue                6418 non-null   float64
 29  Customer_Status              6418 non-null   object
 30  Churn_Category               1732 non-null   object
 31  Churn_Reason                 1732 non-null   object
dtypes: float64(5), int64(4), object(23)
memory usage: 1.6+ MB

In [8]:
df.describe()

,Age,Number_of_Referrals,Tenure_in_Months,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue
count,6418.000000,6418.000000,6418.000000,6418.000000,6418.000000,6418.000000,6418.000000,6418.000000,6418.000000
mean,47.070739,7.427859,17.342786,63.652867,2280.374858,1.924944,6.718604,748.703468,3033.871987
std,16.703633,4.621519,10.576391,31.188823,2268.049985,7.849083,24.722533,847.672844,2866.505426
min,18.000000,0.000000,1.000000,-10.000000,18.800000,0.000000,0.000000,0.000000,21.360000
25%,33.000000,3.000000,8.000000,30.562500,395.725000,0.000000,0.000000,70.805000,603.742500
50%,46.000000,7.000000,16.000000,70.100000,1396.125000,0.000000,0.000000,407.475000,2108.635000
75%,60.000000,11.000000,27.000000,89.750000,3783.600000,0.000000,0.000000,1182.917500,4801.537500
max,85.000000,15.000000,36.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000

In [11]:
# handle duplicates

df.duplicated(subset='Customer_ID').sum()

# Remove duplicates

df = df.drop_duplicates(subset="Customer_ID")

Financial column do not have any null values no need to make changes

age column is also fine

In [12]:
# check missing values

df.isnull().sum()

Customer_ID                       0
Gender                            0
Age                               0
Married                           0
State                             0
Number_of_Referrals               0
Tenure_in_Months                  0
Value_Deal                     3548
Phone_Service                     0
Multiple_Lines                  622
Internet_Service                  0
Internet_Type                  1390
Online_Security                1390
Online_Backup                  1390
Device_Protection_Plan         1390
Premium_Support                1390
Streaming_TV                   1390
Streaming_Movies               1390
Streaming_Music                1390
Unlimited_Data                 1390
Contract                          0
Paperless_Billing                 0
Payment_Method                    0
Monthly_Charge                    0
Total_Charges                     0
Total_Refunds                     0
Total_Extra_Data_Charges          0
Total_Long_Distance_Charges       0
Total_Revenue                     0
Customer_Status                   0
Churn_Category                 4686
Churn_Reason                   4686
dtype: int64

Standardizing Categorical Values

In [29]:
yes_no_colums=[
    'Married',
    'Phone_Service',
    'Multiple_Lines',
    'Internet_Service',
    'Online_Security',
    'Online_Backup',
    'Device_Protection_Plan',
    'Premium_Support',
    'Streaming_TV',
    'Streaming_Movies',
    'Streaming_Music',
    'Unlimited_Data',
    'Paperless_Billing']

for col in yes_no_colums:
  df[col]=df[col].fillna('No').str.strip().str.capitalize()

In [19]:
# customer with Zero tenure but revenue
df=df[~((df['Tenure_in_Months']==0)&(df['Total_Revenue']>0))]

In [26]:
df=df[df['Monthly_Charge']>=0]

In [32]:
None_colums=[
    'Value_Deal',
    'Internet_Type',]
for col in None_colums:
    df[col]=df[col].fillna('None').str.strip()

In [33]:
others_column=[
    'Churn_Category',
    'Churn_Reason'
]

for col in others_column:
    df[col]=df[col].fillna('Others').str.strip()

In [34]:
df.isnull().sum()

Customer_ID                    0
Gender                         0
Age                            0
Married                        0
State                          0
Number_of_Referrals            0
Tenure_in_Months               0
Value_Deal                     0
Phone_Service                  0
Multiple_Lines                 0
Internet_Service               0
Internet_Type                  0
Online_Security                0
Online_Backup                  0
Device_Protection_Plan         0
Premium_Support                0
Streaming_TV                   0
Streaming_Movies               0
Streaming_Music                0
Unlimited_Data                 0
Contract                       0
Paperless_Billing              0
Payment_Method                 0
Monthly_Charge                 0
Total_Charges                  0
Total_Refunds                  0
Total_Extra_Data_Charges       0
Total_Long_Distance_Charges    0
Total_Revenue                  0
Customer_Status                0
Churn_Category                 0
Churn_Reason                   0
dtype: int64

In [35]:
df

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,35,No,Delhi,7,27,None,Yes,No,...,Credit Card,65.60,593.30,0.0,0,381.51,974.81,Stayed,Others,Others
2,25063-WES,Male,51,No,West Bengal,4,35,Deal 5,Yes,No,...,Bank Withdrawal,73.90,280.85,0.0,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,79,No,Karnataka,3,21,Deal 4,Yes,No,...,Bank Withdrawal,98.00,1237.85,0.0,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,80,No,Tamil Nadu,3,8,None,Yes,No,...,Credit Card,83.90,267.40,0.0,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
5,32750-TEL,Male,24,No,Telangana,9,2,Deal 5,Yes,No,...,Credit Card,69.40,571.45,0.0,0,150.93,722.38,Stayed,Others,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6413,43397-UTT,Female,41,No,Uttar Pradesh,6,33,None,Yes,Yes,...,Credit Card,74.40,896.75,0.0,0,37.96,934.71,Churned,Competitor,Competitor made better offer
6414,22240-HAR,Male,51,Yes,Haryana,0,19,Deal 1,No,No,...,Credit Card,45.25,3139.80,0.0,0,0.00,3139.80,Stayed,Others,Others
6415,78682-KER,Female,65,Yes,Kerala,14,25,None,Yes,Yes,...,Bank Withdrawal,74.95,2869.85,0.0,0,599.64,3469.49,Churned,Dissatisfaction,Product dissatisfaction
6416,17816-ODI,Male,23,No,Odisha,2,10,None,Yes,Yes,...,Credit Card,70.15,4480.70,0.0,0,2107.52,6588.22,Stayed,Others,Others
6417,34476-TAM,Male,73,No,Tamil Nadu,13,21,None,Yes,No,...,Bank Withdrawal,96.85,1235.55,0.0,0,346.84,1582.39,Stayed,Others,Others

In [36]:
df.to_csv('Cleaned_Customer_Data.csv',index=False)